---
layout: default
---

<div class="home">
    
  <h1 class="page-heading">About</h1>
  
  <p> {{site.description }}</p>

  <h2 class="page-heading">Events</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
